.mobile
{
    #header_wrap
    {
        position: fixed !important;
        top: 0;
        z-index: 0;
        padding-left: 35px;
        header
        {
            .left-nav > div:first-child
            {
              display: none;
            }
        }
    }
    #main_content_wrap section
    {
       margin-left: 50px;
        margin-right: 0;
       margin-top: 80px;
    }
    .ma-infinitypush-wrapper 
    {
      left: -270px;
      top: 12px;
      position: fixed !important;
    }
}